.login-container .content .top {
    display: flex;
    flex-direction: column;
}

.login-container .content .top h1 {
    color: var(--white);
    font-size: 32px;
    margin-bottom: 30px;
}
.login-container .content .top h1.white-mode {
    color: var(--black);
}

.login-container .content .top form {
    display: flex;
    flex-direction: column;
}

.login-container .content .top form button.white-mode {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
