.login-container {
    background-color: var(--dark-overlay);
    max-width: 450px;
    width: 100%;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 50px 65px;
    min-height: 550px;
    height: 550px;
}

.login-container.white-mode {
    background-color: var(--light-white);
}

.login-container .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.login-container .content .top {
    display: flex;
    flex-direction: column;
}

.login-container .content .top h1 {
    color: var(--white);
    font-size: 32px;
    margin-bottom: 30px;
}
.login-container .content .top h1.white-mode {
    color: var(--black);
}

.login-container .content .top form {
    display: flex;
    flex-direction: column;
}

.login-container .content .top form button {
    color: var(--white);
    background-color: var(--red);
    margin-top: 30px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 16px;
    border: 0;
    position: relative;
}

.login-container .content .top form input {
    background-color: var(--dark-grey);
    color: var(--grey-text);
    height: 50px;
    padding: 0 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 4px;
}
.login-container .content .top form input.white-mode {
    background-color: var(--dark-overlay-secondary);
    color: var(--dark-grey);
}

.login-container .content .top form input:last-child {
    margin-bottom: 0;
}

.login-container .content .top form span {
    color: var(--grey-text-secondary);
    text-align: right;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
}

.login-container .content .top form span.white-mode {
    color: var(--dark-grey);
}

.login-container .content p {
    color: var(--grey);
    font-size: 16px;
}
.login-container .content p.white-mode {
    color: var(--dark-grey);
}

.login-container .content p span {
    color: var(--white);
    cursor: pointer;
}
.login-container .content p span.white-mode {
    color: var(--black);
    font-weight: bold;
}

.login-container .content .top .error {
    font-size: 13px;
    color: red;
    position: absolute;
    font-weight: normal;
    z-index: 2;
    left: 0;
    bottom: 70px;
}
